// Positioning

table
  font-size: 20px

select
  min-width: 500px
  min-height: 500px

.left
  text-align: left

.right
  text-align: right

.middle
  text-align: center

.truncate
  width: 250px
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.overflow-hidden
  overflow: hidden

.table-fixed
  table-layout: fixed
