h1 New Training Session

= simple_form_for :training_game, url: training_play_path, method: :get do |f|
  = f.error_notification

  .form-inputs
    = f.input :real_player,
              collection: Player.active,
              label_method: :name,
              value_method: :id,
              include_blank: false,
              input_html: { data: { toggle: 'selectivity' } }
    = f.input :bot_player,
              collection: Player.active,
              label_method: :name,
              value_method: :id,
              include_blank: false,
              input_html: { data: { toggle: 'selectivity' } }

  .form-actions
    = f.button :submit, value: 'Start Training'
