$standard-row-height: 60px
$small-row-height: 45px
$standard-right-margin: 40px

.score-row
  font-weight: bold

.table > tbody > tr > td.score-buttons
  text-align: center
  vertical-align: middle

.score-ticks
  font-size: 30px

#playing-container
  text-align: center

  #playing
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    width: 100%
    overflow: hidden
    text-align: left

    .closed
      background-color: #eaffea

    .both-closed td
      background-color: #cccccc

    td
      height: 76px

  #show-score-board
    margin: 0
    width: auto
    flex-grow: 1

.tally
  position: relative
  display: inline-block
  margin-left: 10px
  margin-right: 5px

  &:after
    content: ''
    position: absolute
    border-top: 3px solid black
    width: 64px
    transform: rotate(20deg)
    transform-origin: 0% 0%
    top: 13px
    left: -4px

#player-order-list
  min-width: 210px

  th
    text-align: center

  td
    text-align: center
    vertical-align: middle
    font-size: 20px
    //height: $standard-row-height

    &.active-player
      background-color: rgba($secondary-color, 0.5)

  //tr.button-row td
  //  height: $small-row-height

#scoring-table
  margin: 0 $standard-right-margin
  min-width: 350px

  td, th
    text-align: center

  td
    height: $standard-row-height
    vertical-align: middle

  tr:last-child td
    height: $small-row-height

#shortcuts
  width: 1200px
  margin: 0 auto
  text-align: center

  dl
    display: inline-block
    text-align: left

    dt
      width: 100px

    dd
      margin-left: 120px

.btn
  &.btn-small
    padding: 0 1rem
    text-transform: none
  &.btn-success
    background-color: $success-color

