$font-size-base: 16px

@import 'materialize/components/color'
$primary-color: color('blue', 'darken-2') !default
$secondary-color: color('cyan', 'darken-1') !default
@import 'materialize'
@import 'bootstrap/glyphicons'
@import 'font-awesome'
@import 'selectivity'
@import 'selectivity_bootstrap'
@import 'dataTables.bootstrap.min'
@import './pages/**/*'
