@import "bootstrap-sprockets"
@import "bootstrap"

table
  font-size: 20px

// Positioning

.left
  float: left

.right
  float: right

.middle
  text-align: center

// Game Play screen

.score-row
  font-weight: bold

.score-column
  width: 45%

.points-column
  width: 10%

.buttons-col
  width: 12%

.team-score
  width: 200px

.table > tbody > tr > td.score-buttons
  text-align: center
  vertical-align: middle

.score-ticks
  font-size: 30px

.playing
  .closed
    background-color: #eaffea

  .both-closed td
    background-color: #cccccc

#show-score-board
  width: 40%
  float: left

.tally
  position: relative
  display: inline-block
  margin-left: 10px
  margin-right: 5px

  &:after
    content: ''
    position: absolute
    border-top: 3px solid black
    width: 64px
    transform: rotate(20deg)
    transform-origin: 0% 0%
    top: 13px
    left: -4px

#player-order-list
  float: left
  margin-top: 47px

  li
    list-style: none
    padding: 11px
    font-size: 20px
    height: 51px
    border-bottom: 1px solid #eee
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px

    &.active-player
      background-color: #eaffea

#scoring-table
  width: 300px
  float: left
  margin-right: 30px

  td, th
    text-align: center

#playing
  width: 80%
  margin: 0 auto
  overflow: hidden

// Charts

.pie-chart
  width: 500px
  height: 500px

.line-chart
  width: 500px
  height: 500px

.chart-container
  float: left
  padding-right: 10px
  border-right: 1px solid #eee
  margin-right: 30px
